.container{
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 10px;
    padding: 20%;
    margin-top: 1px;
<<<<<<< HEAD
    border: 1px solid gray;
    background-color: black;
    background-size: cover;
=======
    border: 2px solid black;
    background-image: url('/dino2.jpg');
    background-size: contain;
    height: 97vh;
    margin-top: 1%;
    
>>>>>>> 8ee33406e610535eb247b3928141f0a5f6bcd18a
}

.title{
    color: black;
}


.Nome{
   border-radius: 2px;
   font-size: 30px;
   margin-left: 25%;
   
}
.password{
    border-radius: 2px;
    font-size: 30px;
    margin-left: 25%;

}
.button:hover{
    background-color: rgb(239, 240, 240);
    cursor: pointer;
    border: 2px solid rgb(12, 12, 12);
    color: rgb(14, 11, 11);
}
.button{
    color: rgb(255, 255, 255);
    background-color: rgb(1, 4, 7);
    border: 10px;
    border-radius: 10px;
    font-size: 30px;
    margin-left: 25%;
}
.criarconta{
    color: rgb(248, 248, 248);
    margin-left: 2%;
    border-radius: 10px;
    font-size: 30px;
    border: 10px;
    background-color: black;
}
<<<<<<< HEAD
=======

.email{
    border-radius: 2px;
    font-size: 30px;
    margin-left: 25%;

}



>>>>>>> 8ee33406e610535eb247b3928141f0a5f6bcd18a
