.container{
 
    height: 600px;
    width: 600px;
    margin-left: 40%;
    border: 1px solid rgb(5, 1, 1);
    margin-top: 70px;
    padding: 2%;
    font-size: 30px;
    

}
.button{
    margin-left: 1%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: azure;
    border-radius: 20px;
    width: 20%;
    height: 16%;
    
}
.button:hover{
    background-color: rgb(207, 211, 211);
    cursor: pointer;
}
#main{
    background-image: url('/dino.black.jpg');
    background-size: cover;

}

.Criar{
    color: azure;
}